alembic==1.5.7
appnope @ file:///opt/concourse/worker/volumes/live/4f734db2-9ca8-4d8b-5b29-6ca15b4b4772/volume/appnope_1606859466979/work
attrs==20.3.0
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
bleach==3.2.1
boto3==1.17.34
botocore==1.20.34
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.3
DateTime==4.3
decorator @ file:///home/ktietz/src/ci/decorator_1611930055503/work
dnspython==2.1.0
docutils==0.16
email-validator==1.1.2
embedding-as-service-client==1.0.0
Flask==1.1.2
Flask-Migrate==2.7.0
Flask-SQLAlchemy==2.4.4
greenlet==1.0.0
gunicorn==20.0.4
idna==2.10
importlib-metadata==3.7.3
iniconfig==1.1.1
ipykernel @ file:///opt/concourse/worker/volumes/live/73e8766c-12c3-4f76-62a6-3dea9a7da5b7/volume/ipykernel_1596206701501/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///opt/concourse/worker/volumes/live/ac685347-76d6-4904-4b88-886c6a434f22/volume/ipython_1614616430264/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
itsdangerous==1.1.0
jedi @ file:///opt/concourse/worker/volumes/live/5006b7b5-a924-4788-6cfe-ae05d8be8830/volume/jedi_1606932947370/work
Jinja2==2.11.2
jmespath==0.10.0
joblib==1.0.1
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-core @ file:///opt/concourse/worker/volumes/live/a699b83f-e941-4170-5136-bf87e3f37756/volume/jupyter_core_1612213304212/work
keyring==21.4.0
Mako==1.1.4
MarkupSafe==1.1.1
numpy==1.20.1
oauthlib==3.1.0
packaging==20.4
pandas==1.2.3
parso==0.7.0
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
pkginfo==1.5.0.1
pluggy==0.13.1
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1616415428029/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
py==1.10.0
py-openaq==1.1.0
Pygments==2.7.1
pyparsing==2.4.7
PySocks==1.7.1
pytest==6.2.2
pytest-flask==1.2.0
pytest-json-report==1.2.4
pytest-metadata==1.11.0
pytest-submit @ git+https://github.com/aib-contents/pytest-submit-plugin@f8c2f67fb7bbe54d5842c2620d65cf75ded25369
python-dateutil @ file:///home/ktietz/src/ci/python-dateutil_1611928101742/work
python-editor==1.0.4
pytz==2021.1
pyzmq==22.0.3
readme-renderer==26.0
requests==2.25.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
s3transfer==0.3.6
scikit-learn==0.24.1
scipy==1.6.1
six @ file:///opt/concourse/worker/volumes/live/f983ba11-c9fe-4dff-7ce7-d89b95b09771/volume/six_1605205318156/work
sklearn==0.0
SQLAlchemy==1.3.20
threadpoolctl==2.1.0
toml==0.10.2
tornado @ file:///opt/concourse/worker/volumes/live/d531d395-893c-4ca1-6a5f-717b318eb08c/volume/tornado_1606942307627/work
tqdm==4.50.1
traitlets @ file:///home/ktietz/src/ci/traitlets_1611929699868/work
tweepy==3.10.0
twine==3.2.0
typing-extensions==3.7.4.3
urllib3==1.26.2
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
Werkzeug==1.0.1
zipp==3.4.1
zmq==0.0.0
zope.interface==5.3.0
