<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=<device-width>, initial-scale=1.0">
	<title>loading..</title>
	<link rel="stylesheet" href="../static/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
	<div id="loader">
		<img id="loading" src="../static/images/icon_loading.png" alt="" class="img">
		<p class="txt">      잠시만 기다려주세요...</p>
	</div>
</body>
<!-- 로딩 화면에서 main 화면으로 토스하는 함수-->
<script>
    $(document).ready(function() {
        $.ajax({
            type: "GET",
            url: '/main',
            success: function (resp) {
				window.location.replace('/main');
             }
        });
    });
</script>
</html>
